.idea

/Apps/Claims/data/input_pdfs_claims/*.pdf

/LLM_Server/Model/Meta-Llama-3-8B-Instruct.fp16.gguf

/LLM_Server/Model/mixtral-8x7b-instruct-v0.1.Q3_K_M.gguf
/src/Medical/test.py
/.misc/
/TestMCP/
/src/Claims/Logs/
/src/Claims/output/
/src/data/
/.env.dev
/.env
/tests/
