.idea
/Apps/Claims/data/input_pdfs_claims/24-08-23 AGB.166536 Full and Final Insurance Release.pdf

/Apps/Claims/data/input_pdfs_claims/25-03-20 AGB.165439 Final Report-11560-80733383.pdf

/Apps/Claims/data/input_pdfs_claims/25-03-21 AGB.166646 Interim Report No. 1-11560-80778858.PDF

/Apps/Claims/data/input_pdfs_claims/20250304.SAS.REPORT4.10157988.HAR.HOWDEN.pdf

/Apps/Claims/data/input_pdfs_claims/20250311.SAS.REPORT3.10222675.HOWDEN.pdf

/Apps/Claims/data/input_pdfs_claims/20250321.SAS.REPORT 6.10170261.HOWDEN.pdf

/LLM_Server/Model/Meta-Llama-3-8B-Instruct.fp16.gguf

/LLM_Server/Model/mixtral-8x7b-instruct-v0.1.Q3_K_M.gguf
