services:
  data_parser:
    image: aixii_data_parser:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: data_parser
    volumes:
      - /api_data:/app/api_data
    environment:
      - PYTHONUNBUFFERED=1
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    gpus: all
    env_file:
      - .env
    networks:
      - ollama_net
    restart: unless-stopped


networks:
  ollama_net:
    name: ollama_net
    driver: bridge
    attachable: true
  aixii_net_local:
    external: true