services:
  data_parser:
    image: aixii_data_parser:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: data_parser
    depends_on:
      - llama3
    volumes:
      - /api_data:/app/api_data
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - ./PDF_LLM_Parser/.env
    networks:
      - ollama_net
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]


networks:
  ollama_net:
    name: ollama_net
    driver: bridge
    attachable: true
  aixii_net_local:
    external: true